<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/admin.js"></script>
</head>
<body>
        <form style="display: none;" action="">
            <button id="previous">Previous</button>
            <button id="next">Next</button>
        </form>
        <form id="login-form" action="" method="post">
            <input type="text" placeholder="Username" name="user" id="user" required>
            <input type="password" placeholder="Password" name="password" id="password" required>
            <button>Login</button>
        </form>
</body>
</html>