<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/second-screen.js"></script>
</head>
<body>
    {{#each slides}}
        <section class="slide" id="slide-{{@index}}">
            {{#if title}}
                <h1>{{../title}}</h1>
            {{/if}}
            {{{second_screen}}}
            {{#if comment_box}}
                {{#each comment_box}}
                    <form class="comment-form" id="{{this}}">
                        <input type="text">
                        <button type="submit">Send</button>
                    </form>
                {{/each}}
            {{/if}}
            {{#if twitter_users}}
                <ul class="twitter-users" id="{{twitter_users}}-container"></ul>
                <form class="twitter-user-form" id="{{twitter_users}}">
                    <input type="text" placeholder="twitter username">
                    <button type="submit">Send</button>
                </form>
            {{/if}}
            {{#if poll}}
            {{#each poll}}
                {{#each bars}}
                <button class="cast-vote" id="{{id}}">{{title}}</button>
                {{/each}}
            {{/each}}
            {{/if}}
        </section>
    {{/each}}
</body>
</html>